.profile__avatar {
  display: block;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 120px;
  object-fit: contain;
  object-position: left;
}
@media (max-width: 905px)  {
  .profile__avatar {
    margin: 0 auto;
  }
}
